<div class="container mt-5 mb-5">

    <h1 class="text-center">About</h1>

    <p>
        Food businesses save money using cloud virtual kitchens. Leasing a commercial kitchen from a ghost kitchen provider reduces startup costs because food businesses no longer have to commit capital to building inspections; expensive building construction; zoning compliance; etc. Cloud kitchens also allow food businesses to start up in a matter of days or weeks—as opposed to the months or years required for  building mortgages.
       <br/>
       Traditional restaurant owners have struggled to stay afloat due to the expensive utilities, high property taxes, cumbersome staff payroll and pesky maintenance costs. Cloud kitchens handle these expensive and time-consuming administrative hassles. Restaurants that operate in cloud kitchens often employ as few as one to two cooks and share communal expenses with other tenants.
         <br/>
         Cloud kitchens allow you to accommodate the demands of your clients. The popularity of online food delivery has skyrocketed as consumers demand quick meal options at an affordable price. Cloud kitchens facilitate this growing demand for online food delivery by optimizing the delivery experience through efficient logistics, lower costs, and technological innovations.
          <br/>
          Cloud kitchens allow your brand to expand its focus on food delivery and reach a larger audience. Delivery-optimized restaurants advertise their business through delivery apps and social media rather than more narrow marketing channels. Cloud kitchens can strengthen your brand by fortifying new marketing channels and gaining greater exposure.
          <br/>
          Opening a traditional restaurant requires extensive capital dedicated to payroll, kitchen equipment, furniture and utilities — all in addition to excessive lease rates or burdensome mortgages. Cloud kitchens often feature flat-fee pricing that includes administrative features such as janitorial fees, waste collection and kitchen equipment.
          <br/>
          </p>


</div>