$color_1: #61ea05;
$color_2: black;
$color_3: white;
$background-color_1: #000000;

.text-center{
    color: $color_1;
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
}

p{
    font-family: 'Roboto Condensed', sans-serif;
}