<div class="container-fluid footer mt-20 mb-10">
    <div class="row">
        <div class="col-lg-4 mt-3 mb-3">
            <h1><i class="fa fa-bookmark"></i>&nbsp;<i class="fa fa-bookmark"></i> CloudKitchen</h1>
        </div>
        <div class="col-lg-5 mt-4 mb-2 ">
            <h6>Copyright &copy; 2023 Kitchen as a Service | All Rights Reserved</h6>
            <p>Unless otherwise indicated, all materials on these pages are copyrighted by Kitchen as a Service. All rights reserved. No part of these pages, image may be used for any purpose.</p>
        </div>
        <div class="col-4 mt-4 mb-3 icon">
            <a href="https://twitter.com/i/flow/login"> <i class="fa fa-twitter"> </i></a> &nbsp;&nbsp;
            <a href="https://www.bing.com/ck/a?!&&p=2a89335fe14ff6b3JmltdHM9MTY4NDM2ODAwMCZpZ3VpZD0zNWM2YWRhMS1kZTc1LTZmODQtMjY4OS1iZjQyZGZkODZlMTEmaW5zaWQ9NTQ0OA&ptn=3&hsh=3&fclid=35c6ada1-de75-6f84-2689-bf42dfd86e11&psq=facebook&u=a1aHR0cDovL3d3dy5mYWNlYm9vay5jb20vbG9naW4ucGhw&ntb=1"><i class="fa fa-facebook"></i></a>&nbsp;&nbsp;
            <a href="https://www.bing.com/ck/a?!&&p=3ee5aa47fe3263ddJmltdHM9MTY4NDM2ODAwMCZpZ3VpZD0zNWM2YWRhMS1kZTc1LTZmODQtMjY4OS1iZjQyZGZkODZlMTEmaW5zaWQ9NTE5MQ&ptn=3&hsh=3&fclid=35c6ada1-de75-6f84-2689-bf42dfd86e11&psq=whatsapp+web+login&u=a1aHR0cHM6Ly93ZWIud2hhdHNhcHAuY29tLw&ntb=1"><i class="fa fa-whatsapp"></i></a>&nbsp;&nbsp;
            <a href="https://www.bing.com/ck/a?!&&p=6944970f0a230f8aJmltdHM9MTY4NDM2ODAwMCZpZ3VpZD0zNWM2YWRhMS1kZTc1LTZmODQtMjY4OS1iZjQyZGZkODZlMTEmaW5zaWQ9NTE5NQ&ptn=3&hsh=3&fclid=35c6ada1-de75-6f84-2689-bf42dfd86e11&psq=instagram&u=a1aHR0cHM6Ly93d3cuaW5zdGFncmFtLmNvbS8&ntb=1"><i class=" fa fa-instagram"></i></a>
        </div>
    </div>
</div>