<div class="container mt-5 mb-5">
    <h1>Contact</h1>
    <form class="col-lg-12 text-center">
        <div class="row">
            <div class="col-lg-12 mt-2 mb-2">
                <input type="text" class="form-control" placeholder="Enter First Name">
            </div>
            <div class="col-lg-12 mt-2 mb-2">
                <input type="text" class="form-control" placeholder="Enter Last Name">
            </div>
            <div class="col-lg-12 mt-2 mb-2">
                <input type="text" class="form-control" placeholder="Enter Email ID">
            </div>
            <div class="col-lg-12 mt-2 mb-2">
                <input type="text" class="form-control" placeholder="Enter Mobile">
            </div>
            <div class="col-lg-12 mt-2 mb-2">
                <textarea type="text" class="form-control" placeholder="Feedback"></textarea>
            </div>
            <div class="col-lg-12 mt-4 text-center">
                <button class="btn btn">Submit</button>
            </div>
        </div>
    </form>
</div>
