$color_1: #61ea05;
$color_2: black;
$color_3: white;
$background-color_1: #000000;
.navbar {
	background-color: $background-color_1;
	.navbar-nav {
		.nav-link {
			color: $color_3;
			font-family: 'Raleway', sans-serif;
		}
		
		.nav-link.active-link {
			color: $color_1;
			text-decoration: underline;
		}
		&:hover{
			color: $color_1;
		}
	}
}
.navbar-brand {
	font-weight: 900;
}

a{
	font-family: 'Roboto Condensed', sans-serif;
	color: $color_3;
	&:hover{
		color: $color_1;
	}
}
.btn{
	background-color: $color_1;
	color: #000000;
	font-family: 'Raleway', sans-serif;
}
logo{
	color: $color_3;
	
}
.fa-twitter{
	color: $color_3;
}

navbar-toggler{
	span{
		color: #61ea05;
	}
	
}